.Rproj.user
.Rhistory
.RData
.Ruserdata
/HW3/gibbs results.rds
/HW4 - Part 1/MHresults/MH results1.rds
/HW4 - Part 1/MHresults/MH results2.rds
/HW4 - Part 1/MHresults/MH results4.rds
/HW4 - Part 1/MHresults/MH results5.rds
/HW4 - Part 1/MHresults/MH results6.rds
/HW4 - Part 1/MHresults/MH results7.rds